body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('mountains6.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
}

.logo h1 {
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    color: #ffa500;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.contact-details {
    display: flex;
    justify-content: space-between;
}

.contact-info,
.contact-form {
    flex: 1;
    margin-right: 20px;
}

.contact-info h3,
.contact-form h3 {
    margin-bottom: 10px;
}

.contact-info p {
    margin-bottom: 5px;
}

.contact-form form {
    margin-top: 10px;
}

.contact-form label {
    margin: 5px 0;
    display: block;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px;
    background-color: #ffa500;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #ff8c00;
}
